.hidden {
    display: none !important;
}

.builder{
    margin: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
}

.builderHeader{
    display: inline-flex;
    width: 100%;
    height: fit-content;
    padding: 8px 24px;
}

.back{
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 100%;
    margin-right: auto;
}

.inputURL{
    display: flex;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    padding: 7.5px 8px;
    background: rgb(247, 247, 247);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
    margin-right: auto;
    margin-left: 22px;
    max-width: 440px;
}

.siteInfo{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.ccsSelectors{
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

.builderSettings{
    display: inline-flex;
    flex-direction: column;
    border-left: 1px solid rgb(194, 194, 194);
    width: 390px;
    background: rgb(250, 251, 252);
    padding: 10px;
    justify-content: space-between;
}

.site{
    width: 100%;
    height: 100%;
}

.build{
    bottom: 0 !important;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    padding: 8px 0;
    display: inline-flex;
    justify-content: center;
}

@media screen and (max-width: 620px) {
    .builder{
        flex-direction: column;
    }

    .builderSettings{
        width: 100%;
    }

    .ccsSelectors{
        width: 100%;
        max-height: 150px;
        overflow-y: scroll;
        padding-bottom: 10px;
    }

    .site{
        height: 100%;
    }

    .siteInfo{
        height: 100%;
    }
}