.main{
    display: inline-flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title{
    font-size: 24px;
    font-weight: 600;
    color: rgb(66, 66, 66);;
}

.searchContainer{
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid #BBBBBC;
    border-radius: 5px;
    max-width: 215px;
}

.searchInput{
    width: 100%;
}

.searchInput:focus{
    outline: none;
}

.unread{
    accent-color:  #00a251;
}

.filterContainer{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.filterContainerLeft{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.filterContainerRight{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #bbbbbc;
}

@media screen and (max-width: 740px) {
    .main{
        flex-direction: column;
    }
    .filterContainer{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .filterContainerLeft{
        flex-direction: column;
        align-items: start;
    }
}

.sortSelect{
    background-color: white;
}

.checkboxContainer{
    display: inline-flex;
    gap: 15px;
    color: #919191;;
}

.feeds{
    width: 100%;
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.createFeed{
    display: inline-flex;
    padding: 55px 60px;
    border: 1px solid rgb(231, 231, 231);
    height: 142px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}