.feed{
    padding: 20px 0;
    gap: 20px;
    border-top: 1px solid black;
    max-width: 550px;
    width: 100%;
}

.title{
    color: rgb(66, 66, 66);
    word-break: break-word;
    font-weight: 600;
    font-size: 20px;
    width: fit-content;
    white-space: normal; 
}

.info{
    display: inline-flex;
    gap: 10px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.actions{
    position: relative;
}

.saveButton{
    display: inline-flex;
    gap: 8px;
    padding: 8px;
    background-color: white;
    color: var(--main-color);
    border:1px solid var(--main-color);
    border-radius: 20px;
}

.option{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 5px;
    width: fit-content;
}
  
.dropdownItem {
    padding: 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
  
.dropdownItem:hover {
    background-color: #f0f0f0;
}

.collectionInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  