@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #07B25D;
  --gray-color: #fbfbfb;
  --second-color: #d42828;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.activeButton{
  background-color: var(--main-color);
  color: white !important;
  padding: 12px;
  justify-content: center;
  border-radius: 5px;
  border: none !important;
  white-space: nowrap;
  display: inline-flex;
  gap: 8px;
}

#modal{
  width: 100%;
  height: 0;
  position: fixed;
}
